* {
	box-sizing: border-box;
}

h1 {
	color: white;
}

body {
	background-color: #ce2339;
}

p {
	padding: 10px;
	margin: 0;
}

.container {
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-top: 12px;
	margin-bottom: 12px;
	padding: 10px;
}

section {
	border:	2px solid white;
	background-color: #0094ff;
	width: 100%;
	height: auto;
	font-family: Verdana;
	color: black;
	position: relative;
	overflow: auto;
}

#chicken {
	border: 1px solid white;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #e56c09;
}

#beef {
	border: 1px solid white;
	text-align: center;
	width: 30%;
	color: white;
	margin-left: 70%;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	padding: 5px;
	background-color: #073a0a;
}

#sushi {
	border: 1px solid white;
	text-align: center;
	width: 30%;
	margin-left: 70%;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 0;
	margin-top: 0;
	background-color: #ffff00;
	padding: 5px;
}

.navbar-brand {
  font-size: 2em;
  border: 0 0 10px 10px;
  color: #FFFFFF;
}

#header-nav {
  border: 0;
  background-color: #191919;
  color: #FFFFFF;
}

#chicken-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#beef-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

#sushi-div {
  margin-bottom: 10px;
  margin-top: 10px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #ce2339;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.nav-brand {
  color: #FFFFFF;
  font-size: 1.5em;
}

#nav-list {
  color: red;
}

hr {
  border-color: white;
}

.item {
  color: white;
  background-color: red;
  font-size: 1.5em;
  margin: 0px;
}